###############################################################################
# Python
###############################################################################

__pycache__/
*.py[cod]
*$py.class

###############################################################################
# Virtual Environments
###############################################################################

.venv/
venv/
env/

###############################################################################
# IDEs
###############################################################################

.vscode/
.idea/

###############################################################################
# Jupyter
###############################################################################

.ipynb_checkpoints/

###############################################################################
# Python Cache
###############################################################################

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

###############################################################################
# Environment Variables
###############################################################################

.env

###############################################################################
# Operating System Files
###############################################################################

.DS_Store
Thumbs.db
desktop.ini

###############################################################################
# Build Files
###############################################################################

build/
dist/
*.egg-info/

###############################################################################
# Matplotlib Cache
###############################################################################

.matplotlib/

###############################################################################
# Qiskit Cache
###############################################################################

.qiskit/

###############################################################################
# Logs
###############################################################################

*.log

# ###############################################################################
# # Python Serialized Files (Optional)
# ###############################################################################

# *.pkl


###############################################################################
# Keep Folder Structure
###############################################################################

!outputs/.gitkeep
!outputs/preprocessing/.gitkeep
!outputs/circuits/.gitkeep
!outputs/results/.gitkeep
!outputs/swap_test/.gitkeep
!outputs/candidate_evaluation/.gitkeep